{% extends "layout.njk" %}

{% block pagina %}

<h1>Alteração de Categoria</h1>
<div class="col-md-6">
  <form action="/categoria/{{categoria.id}}" method="post">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" value="{{categoria.nome}}">
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="#" class="btn btn-default">Voltar</a>
  </form>
</div>

{% endblock %}
